# range

In [1]:
range(6)

range(0, 6)

In [2]:
a = range(6)
print(a)

range(0, 6)

In [3]:
# range(number after the ending value)- starts from zero if no start value mentioned
for i in range(5):
    print(i)
print("Done")

0
1
2
3
4
Done

In [4]:
# range(starting value, number after the ending value)
for i in range(1,7):
    print(i)
print("Done")

1
2
3
4
5
6
Done

In [5]:
# range(starting value, number after the ending value, increment value)
for i in range(2,31,5):
    print(i)
print("Done")

2
7
12
17
22
27
Done

In [6]:
sum = 0
for i in range(10):
    sum = sum+i
    print(sum)

0
1
3
6
10
15
21
28
36
45

# List

In [7]:
Subjects = ['Physics','Chemistry','Maths']
Games = ['Football','Cricket','Tennis']

In [8]:
print(Subjects)

['Physics', 'Chemistry', 'Maths']

In [9]:
#Append - adds the element at the end of the list
Subjects.append('History')
print(Subjects)

['Physics', 'Chemistry', 'Maths', 'History']

In [11]:
#Insert - you can specify the index where you want to insert
Subjects.insert(2,'Biology')
print(Subjects)

['Physics', 'Chemistry', 'Biology', 'Biology', 'Maths', 'History']

In [12]:
#Extend - Add another list in existing list
Subjects.extend(Games)
print(Subjects)

['Physics', 'Chemistry', 'Biology', 'Biology', 'Maths', 'History', 'Football', 'Cricket', 'Tennis']

In [13]:
#Remove - delete an element
Subjects.remove("Cricket")
print(Subjects)

['Physics', 'Chemistry', 'Biology', 'Biology', 'Maths', 'History', 'Football', 'Tennis']

In [14]:
#clear - clears the entire list

In [15]:
#pop- delete the elemt in the index value specified
Subjects.pop(5)
print(Subjects)

['Physics', 'Chemistry', 'Biology', 'Biology', 'Maths', 'Football', 'Tennis']

In [16]:
# Reverse
Subjects.reverse()
print(Subjects)

['Tennis', 'Football', 'Maths', 'Biology', 'Biology', 'Chemistry', 'Physics']

In [17]:
#Repetition
print(Subjects*2)

['Tennis', 'Football', 'Maths', 'Biology', 'Biology', 'Chemistry', 'Physics', 'Tennis', 'Football', 'Maths', 'Biology', 'Biology', 'Chemistry', 'Physics']

# Tuple

In [18]:
Fruits = ('Apple','Banana','Cherry')
Vegetables = ('Cucumber', 'Beetroot', 'Onions','Potatao')
print(Fruits)
print(Vegetables)

('Apple', 'Banana', 'Cherry')
('Cucumber', 'Beetroot', 'Onions', 'Potatao')

In [19]:
#Indexing
print(Fruits[1])

Banana

In [20]:
#Slicing - Extracting smaller sequence 
print(Fruits[0:2])

('Apple', 'Banana')

In [21]:
print(Fruits*4)

('Apple', 'Banana', 'Cherry', 'Apple', 'Banana', 'Cherry', 'Apple', 'Banana', 'Cherry', 'Apple', 'Banana', 'Cherry')

In [22]:
#count - No of occurence of the element in the sequence
Letters = ('A','B','C','B','B','D')
print(Letters.count("B"))

3

In [23]:
#Concat - Two tuple into a new tuple
Kitchen = Fruits + Vegetables
print(Kitchen)

('Apple', 'Banana', 'Cherry', 'Cucumber', 'Beetroot', 'Onions', 'Potatao')

In [24]:
# Tuple within a list
Word = [('A','B','C'),('E','F','G')]

In [25]:
print(Word[0][2])

C

In [26]:
Word.append(('K','L'))
print(Word)

[('A', 'B', 'C'), ('E', 'F', 'G'), ('K', 'L')]